@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: linear-gradient(to right, rgba(69, 95, 100, 1), rgba(125, 189, 201, 1));
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #02161b;
}

header{
    display: flex;
    background-color: #202020;
    height: 120px;
    align-items: center;
}

.logo{
    width: 75px;
    margin-left: 10px;
}

.btn-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.header-btn{
    width: 85px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    background-color: #90dceb;
    transition: transform 0.2s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.header-btn:hover{
    background-color: #7dbdc9;
}

.header-btn:active{
    transform: scale(0.95);
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 240px;
    background-color: #202020;
    align-items: center;
    gap: 50px;
    color: #90dceb
}

.central-div{
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: max-content;
}

.description-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 240px;
    gap: 50px;
}

.description-text{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.vertical-logo{
    width: 200px;
    margin-left: 1.5vw;
}

.contatti-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 240px;
}

.contatti-text{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.bottone-fisso{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #90dceb;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    z-index: 1;
}

details summary{
    list-style: none;
    text-align: center;
    font-size: x-large;
    font-style: oblique;
    font-weight: bold;
}

ul li {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 1.1vw;
    text-align: center;
}

.sum_img{
    display: block;
    border: 10px;
    width: 41vw;
    height: 24vw;
    margin: auto;
}

::selection {
    color: #90dceb;
    background: none;
}

#head_servizi{
    text-align: center;
}

#head_servizi p{
    margin: auto 8%;
}

hr {
    margin: 0 20%;
    border: none;
    height: 2px;
    background-color: #202020;
    color: #202020;
}