@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to right, rgba(69, 95, 100, 1), rgba(125, 189, 201, 0.9));
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.text{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #202020;
    font-size: 90%;
}

header{
    display: flex;
    background-color: #202020;
    height: 120px;
    align-items: center;
}

.logo{
    width: 75px;
    margin-left: 10px;
}

.btn-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.header-btn{
    width: 85px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    background-color: #90dceb;
    transition: transform 0.2s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.header-btn:hover{
    background-color: #7dbdc9;
}

.header-btn:active{
    transform: scale(0.95);
}

.central-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

footer {
    display: flex;
    bottom: 0; 
    width: 100%;
    height: 240px;
    background-color: #202020;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 240px;
}


.description-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 240px;
}

.description-text{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #90dceb;
}

.description-text::selection{
    color: #587e86;
    background: none;
}

.contatti-text::selection{
    color: #587e86;
    background: none;
}

.vertical-logo{
    margin-left: 20px;
    width: 200px;
}

.contatti-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 240px;
}

.contatti-text{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #90dceb;
}

.bottone-fisso{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #90dceb;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    z-index: 1;
    transition: transform 0.2s ease;
}

.bottone-fisso:hover{
    background-color: #7dbdc9;
}

.bottone-fisso:active{
    transform: scale(0.95);
}

#angle-up{
    font-size: 26px;
    color: #202020;
}

.div-superiore{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    width: 50%;
    height: 400px;
    background-color: #90dceb;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 12px 6px 6px gray;
    overflow-y: auto;
    gap: 50px;
}

.div-superiore ::selection {
    color: #587e86;
    background: none;
}

.descrizione-div{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 400px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.descrizione{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 90%;
    text-align: center;
    color: #202020;
}

.img-div{
    display: flex;
    width: 50%;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.azienda-img{
    width: 50%;
    border-radius: 15px;
    border: 2px dashed white;
    transition: transform 0.3s ease;
}

.azienda-img:hover{
    transform: scale(1.05);
}

#map,
#email,
#phone{
    font-size: 26px;
    color: #90dceb;
}

.div-superiore-dx{
    margin-top: -50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    background-color: #90dceb;
    border-radius: 15px;
    align-items: center;
    box-shadow: 12px 6px 6px gray;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text2,
.main-text{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #202020;   
}

.welcome-div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 150px;
    background-color: #90dceb;
    align-items: center;
    justify-content: center;
    box-shadow: 12px 6px 6px gray;
    overflow-y: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 15px;

}

.div-superiore-dx ::selection{
    color: #587e86;
    background: none;
}

.welcome-div ::selection{
    color: #587e86;
    background: none;
}